<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Minesweeper</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <style>
    * {
      box-sizing: border-box;
    }
  </style>
</head>
<body>
  <div id="app">
    <div v-if="gameboard">
      <div :style="styles.board">
        <div v-for="(row, rowIndex) in gameboard" :style="styles.row">
          <div
            v-for="(col, colIndex) in row"
            :style="[styles.cell,
                    styles.colorizeCell(rowIndex, colIndex, col.hidden),
                    styles.colorizeClues(col.content)]"
            @click="gameObj.reveal(rowIndex, colIndex)"
            @click.right.prevent="col.marked = !col.marked"
          >
            {{ col.hidden ? col.marked ? '🚩' : '' : col.content }}
          </div>
        </div>
      </div>
    </div>

    <div style="display:flex">
      <form @submit.prevent="newGame">
        <select name="difficulty" id="difficulty" v-model="difficulty">
          <option value="easy">Easy</option>
          <option value="medium" selected>Medium</option>
          <option value="hard">Hard</option>
        </select>
        <button type="submit">New Game</button>
      </form>

    



      <div v-if="gameboard">
        <div style="display:flex;align-items:center">
          <span> 🚩 </span> <span>{{ flagsRemaining }}</span>
        </div>
        <div style="display:flex;align-items:center">
          <span> ⏲️ </span>
          <span> {{timeElapsed}} </span>
          
        </div>
      </div>
    </div>


  </div>
  <script src="minesweeper.js"></script>
</body>
</html>