<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Minesweeper</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <style>
    * {

      box-sizing: border-box;
    }
  </style>
</head>
<body>
  <div id="app">
    
      <div :style="boardWrapper">
        <div v-for="(row, iRow) in board" :style="boardRow">
          <div
            v-for="(boardCell, iCell) in row"
            :style="[cell,
                    colorCell(iRow, iCell, boardCell.clicked),
                    colorize(boardCell.content)]"
            @click="reveal(boardCell)"
          >
            {{boardCell.clicked ? boardCell.content : ''}}
          </div>
        </div>
      </div>


  </div>
  <script src="minesweeper.js"></script>
</body>
</html>